body {
  text-align: center;
  background-color: cyan;
}

textarea {
  width: 40%;
  height: 100%;
  float: top;
  min-height: 250px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #f4f4f9;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

iframe {
  width: 40%;
  height: 100%;
}

button {
  width: 15%;
  height: 10%;
}
