body {
  text-align: center;
  background-color: cyan;
  /*min-width:1000px;
  min-height:1000px;*/
}

.html {
  text-align: left;
  width: 40%;
  height: 50vh;
  float: top;
  min-height: 250px;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  background: #f4f4f9;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

iframe {
  float: top;
  background: #f4f4f9;
  width: 40%;
  height: 50vh;
}

button {
  float: top;
  background-color: orange;
  color: white;
  width: 7.5%;
  height: 10%;
}



basewords { color: purple; }
comment { color: gray; }
inquotes { color: rgb(255, 100, 0) !important; }
datatype { color: rgb(0, 200, 100); }
number { color: blue; }
text { color: black; }
