body {
  background-color: cyan;
  /*min-width:1000px;
  min-height:1000px;*/
}

html {
  /*width: 40vw;
  height: 100vh;
  min-height: 250px;*/
  overflow: scroll;
  margin: 0;
/*  display: inline-block;*/
  background: #ffffff;
  outline: black;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

iframe {
  background: #f4f4f9;
}

tempButton {
  background-color: orange;
  color: white;
  grid-area: temp;
}
runButton {
  background-color: orange;
  color: white;
  grid-area: run;
}

.html {
  text-align: left;
  grid-area: code;
  background-color: white;
}
.frame {
  grid-area: output;
}

.container {
  position: absolute;
  height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "code temp run output"
    "code temp run output"
    "code temp run output";
}
